name: C/C++ CI

on: [push, pull_request]

jobs:
  build:
    name: ubuntu-latest
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest
 
    steps:
    - uses: actions/checkout@v3.5.2
      with:
          fetch-tags: true
          fetch-depth: '25'
    
      #workaround for the github checkout not fully working right with containers
      #see : https://github.com/actions/checkout/issues/2031
    - name: Add git safe directory
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      
    - name: Build
      run: |
        make -j2

